@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks */
* {
  margin: 0;
  padding: 0;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 400ms;
}

html, body, #__nuxt {
  height: 100%;
}

body {
  font-family: 'ADLaM Display', ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}
